 
  
 *{
    margin: 0%;
    padding: 0%;
 }
header{
    background-color: black;
    padding-top: 50px;
    text-align: center;
    
}
h1{
    color: white;
    font-size: 97px;
    font-family: passionOne;
    margin: 0%;
    font-size: 9vw;
}
 
p{
    font-family: Atkinson;
}

#link{
    color: white;
    font-size: 20px;
    padding-bottom: 50px;
}
.link {
    color: white;
    font-family: passionOne;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

section{
    padding-top: 12vh;
    padding-bottom: 12vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 2vw
}


   
 
section.imagen{
  background-color: rgb(0, 0, 0);
  box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.555);
  
}

section.imagen > p{
   background-color: rgba(0, 0, 0, 0.226);
   color: white;
   width: 200px;
   padding: 10px;
   text-shadow: 2px 1px 0px black;
}

section#img01{
   background-image: url(imagens/rosto1.jpg);
   background-size: cover; 
   background-attachment: fixed;
}

section#img02{
 background-image: url(imagens/rosto\ 2.jpg);
  background-position: left top;
  background-size: cover; 
  box-shadow: 1px 1px 5px black;

}

 .video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background: linear-gradient(135deg, #e60a0a, #000000);
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

 }

 .video p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.video audio {
    margin-top: 1px;
    width: 250px;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
}

 
footer a:hover {
    text-decoration: underline;
    color: rgb(14, 3, 3);
}
 
footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 3px;
}
footer > p{
    font-size: 13px;
    font-family: Atkinson;
}
.desculpa{
    color: rgb(0, 0, 0);
}